*, *::after, *::before {
    box-sizing: border-box; 
}

body {
    margin: 0; 
}

:root {
    --cellSize: 100px;
    --markSize: calc(var(--cellSize) * 0.9);
    --primaryColor: black; 
    --supportColor: white;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}

.cell {
    width: var(--cellSize); 
    height: var(--cellSize);
    border: 1px solid var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.cell:nth-child(3n+1) {
    border-left: none;
}

.cell.cell:nth-child(3n+3) {
    border-right: none;
}

.cell.x::before,
.cell.x::after {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    width: calc(var(--markSize) * 0.15);
    height: var(--markSize);
    position:absolute;
} 

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/*CIRLCE*/

.cell.circle::before {
    background-color: black;
}

.board.circle .cell:not(.x):not(.circle):hover::before, 
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
}

.cell.circle::before, 
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before, 
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position:absolute;
} 

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--markSize);
    height: var(--markSize);
    border-radius: 50%;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--markSize) * .7);
    height: calc(var(--markSize) * .7);
    border-radius: 50%;
    background-color: var(--supportColor);
}

/* Winning message */

.winningMessage{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--supportColor);
    font-size: 5rem;
}

button {
    font-size: 3rem;
    background-color: var(--supportColor);
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-radius: 25px;
}

button:hover{
    background-color: var(--primaryColor);
    color: var(--supportColor);
    border-color: var(--supportColor);
    transition: 0.15s ease-in;
}

.winningMessage.show{
    display: flex;
}